*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex; // por padrão os itens do container ficam um do lado do outro
    //justify-content: space-between; // alinha o primeiro no começo, o ultimo no final e os outros separados igualmente
    justify-content: space-around;
    align-items: center;
   

    border: solid;
    height: 10vh;

   .btnverde{
    background-color: #16a34a;
    padding: 20px;
    border-radius: 6px;
    color: #ffffff;
   }

   .caixalogo{
    display: flex;
    width: 20%;
    border: solid;
    justify-content: space-between;
    
    h1{
        color: #1F2937;
        font-size: 2.5rem;
    }
   }

    nav{
        height: 10vh;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a{
            color: #4B5563;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
}

.primeiraSection {
    // border: solid #ff0000;
    display: flex;
    justify-content: space-around;
    height: 70vh;

    section {
        // border: solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            font-size: 3.75rem;
            // border: solid;
            width: 60%;
        }

        p {
            font-size: 1.25rem;
            width: 65%;
            // border: solid;
        }
    }
}

.produtosdisponiveis{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;


    article{
         border: solid #16a34a;
         width:18%;
         height: 60vh;
         display: flex;
        // flex-direction: row; //por padrão ao aplicar o display flex a direção e em linha (row)
        flex-direction: column; // (column) para ficar em coluna 
        justify-content: space-between;
        align-items: center;

          img{
        width: 100%;

    }

    p{
        text-align: center;
        
        width: 90%;
        
    }

    button{
        margin-bottom: 2rem;
        
        
    }

    }


    





}

// Quero que você aplique esse estilo em telas de 0px até 768px
@media(max-width: 500px) {
    header {
        height: 18vh;
        flex-direction: column;


        nav {
            width: 90%;

            a {
                font-size: 0.8rem;
            }
        }
    }

    .caixaLogo {
        width: 50%;

        h1 {
            font-size: 2rem;
        }
    }

    .primeiraSection {
        flex-direction: column;
        align-items: center;

        img {
            width: 50vw;
        }

        section {
            display: flex;
            justify-content: space-evenly;
            height: 50vh;

            h2 {
            font-size: 1.5rem;
            width: 100%;
            text-align: center;
            }

            p {
                width: 100%;
                text-align: center;
            }
        }
    }

    .boxBtnsPrimeiraSection {
        width: 100%;
        justify-content: space-evenly;
        
        button {
            padding: 10px 20px;
        }
    }

}

// @media screen é uma forma mais específica de usar a media query, dizendo que os estilos devem ser aplicados apenas em telas (ou seja, dispositivos com “screen”, como celulares, tablets, notebooks, etc.)
@media screen and (max-width: 768px) {
    .produtosDisponiveis {
        flex-direction: column;

        article {
            width: 50%;
        }
    }
}